/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url(../images/cover-image-dark.png);
  --cover-color: #000028;
  --accent-color: #ff0070;
  --accent-title-color: #db00ff;
  --accent-shadow-color: #ff0070;
  --section-heading-color: #ff0070;
  --sub-heading-color: #000028;
  --main-text-color: #f1b2ce;
  --menu-list-color: #ff0070;
  --menu-list-hover-color: #ff007066;
  --link-decoraion-color: #f1b2ce;
  --link-hover-color: #f1b2ce;
  --corner-element-color: #ff0070;
  --rec-element-color: #ff0070;
}
