/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url(../images/cover-image-light.png);
  --cover-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-title-color: #ffc2e6;
  --accent-shadow-color: #ff8dcb;
  --section-heading-color: #353430;
  --sub-heading-color: #353430;
  --main-text-color: #353430;
  --menu-list-color: #353430;
  --menu-list-hover-color: #32312d66;
  --link-decoraion-color: #353430;
  --link-hover-color: #353430;
  --corner-element-color: #353430;
  --rec-element-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --cover-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-title-color: #ffc2e6;
    --accent-shadow-color: #ff8dcb;
    --section-heading-color: #353430;
    --sub-heading-color: #353430;
    --main-text-color: #353430;
    --menu-list-color: #353430;
    --menu-list-hover-color: #32312d66;
    --link-decoraion-color: #353430;
    --link-hover-color: #353430;
    --corner-element-color: #353430;
    --rec-element-color: transparent;
  }
}
