/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--cover-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title-decor {
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--corner-element-color);
  border-block-start: 1px solid var(--corner-element-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: var(--page-padding-s);
  inset-block-start: var(--page-padding-s);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--corner-element-color);
  border-block-end: 1px solid var(--corner-element-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: var(--page-padding-s);
  inset-block-end: var(--page-padding-s);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: var(--block-gap-s);
  padding: var(--page-padding-s);
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block: 1.5px 3px;
  outline: none;
  color: var(--menu-list-color);
  font-family: var(--main-font-family);
  font-weight: var(--fw-regular);
  font-size: var(--main-font-size);
  line-height: 1;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-list-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-list-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-list-hover-color);
}

.header__title {
  justify-self: center;
  align-self: end;
  color: var(--accent-title-color);
  font-family: var(--main-font-family);
  font-weight: var(--fw-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-shadow-color);
}

.header__subtitle {
  justify-self: center;
  align-self: center;
  color: var(--sub-heading-color);
  font-family: var(--main-font-family);
  font-weight: var(--fw-bold);
  font-size: var(--main-font-size);
}

.rec-icon-element {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--rec-element-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  inline-size: max-content;
  block-size: 26px;
}

.rec-icon-element::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-element-color);
  background-color: var(--rec-element-color);
  inline-size: 9px;
  block-size: 9px;
}

.main {
  display: grid;
  gap: var(--section-gap-s);
  margin-block-end: var(--block-gap-s);
}

.section {
  display: grid;
  gap: var(--gap-m);
  padding-inline: var(--page-padding-s);
}

.section__title {
  color: var(--section-heading-color);
  font-family: var(--main-font-family);
  font-weight: var(--fw-bold);
  font-size: var(--main-font-size);
  line-height: 1.3;
}

.section__content {
  display: grid;
  gap: var(--gap-m);
}

.section__subtitle {
  color: var(--sub-heading-color);
  font-family: var(--main-font-family);
  font-weight: var(--fw-bold);
  font-size: var(--main-font-size);
  line-height: 1.3;
}

.card__title {
  margin-block-end: var(--gap-s);
  color: var(--sub-heading-color);
  font-family: var(--main-font-family);
  font-weight: var(--fw-bold);
  font-size: var(--main-font-size);
  line-height: 1.3;
}

.card__title--light {
  font-weight: var(--fw-regular);
  font-size: var(--main-font-size);
}

.card__text {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-weight: var(--fw-regular);
  font-size: var(--main-font-size);
  line-height: 1.3;
}

.link-accent {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-shadow-color);
}

.link-accent:hover {
  border-block-end: 1px solid var(--link-decoraion-color);
}

.link-accent:focus {
  outline: none;
}

.link-accent:focus-visible {
  outline: 1px solid var(--link-decoraion-color);
}

.gallery {
  gap: var(--gap-s);
}

.gallery .card__title {
  margin-block-end: 0;
}

.gallery__content {
  display: grid;
  gap: var(--gap-s);
}

.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  max-inline-size: 100%;
  block-size: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  margin-inline: 14px;
  color: var(--accent-title-color);
  font-family: var(--main-font-family);
  font-weight: var(--fw-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-shadow-color);
}

/*TABLET*/

@media (width >= 768px) {
  .decorated-zone::before {
    inset-inline-end: var(--page-padding-l);
    inset-block-start: var(--page-padding-l);
  }

  .decorated-zone::after {
    inset-inline-start: var(--page-padding-l);
    inset-block-end: var(--page-padding-l);
  }

  .header {
    margin-block-end: var(--block-gap-l);
    padding: var(--page-padding-l);
    min-block-size: 1024px;
  }

  .header__title {
    justify-self: start;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    justify-self: end;
    inline-size: max(364px, min(50%, 491px));
  }

  .rec-icon-element {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }

  .main {
    gap: var(--section-gap-l);
    margin-block-end: var(--block-gap-l);
  }

  .section {
    padding-inline: var(--page-padding-l);
  }

  .why {
    grid-template-columns: 236px 1fr;
  }

  .what {
    grid-template-columns: 1fr;
    align-items: start;
  }

  .what .section__title {
    justify-self: start;
    max-inline-size: 236px;
  }

  .how {
    grid-template-columns: 236px 1fr;
  }

  .gallery {
    gap: var(--gap-m);
  }

  .gallery__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: var(--gap-m);
  }

  .gallery__image {
    block-size: 100%;
  }

  .gallery__image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    padding: var(--page-padding-l);
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/*DESKTOP*/

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .why {
    grid-template-columns: 315px 1fr;
  }

  .what .section__title {
    max-inline-size: 315px;
  }

  .what .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .how {
    grid-template-columns: 315px 1fr;
  }

  .footer {
    min-block-size: 768px;
  }
}
