/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-family: "IBM Plex mono", monospace;
  --main-font-size: 18px;
  --fw-bold: 700;
  --fw-regular: 400;
  --cover-image: url(../images/cover-image-dark.png);
  --cover-color: #000028;
  --accent-color: #ff0070;
  --accent-title-color: #db00ff;
  --accent-shadow-color: #ff0070;
  --section-heading-color: #ff0070;
  --sub-heading-color: #000028;
  --main-text-color: #f1b2ce;
  --menu-list-color: #ff0070;
  --menu-list-hover-color: #ff007066;
  --link-decoraion-color: #f1b2ce;
  --link-hover-color: #f1b2ce;
  --corner-element-color: #ff0070;
  --rec-element-color: #ff0070;
  --gap-s: 10px;
  --gap-m: 20px;
  --page-padding-s: 10px;
  --page-padding-l: 20px;
  --block-gap-s: 40px;
  --block-gap-l: 60px;
  --section-gap-s: 50px;
  --section-gap-l: 80px;
}
